table{
  border-collapse: collapse;
  overflow: scroll;
  text-align: center;
  line-height: 22px;
  display:inline-block;
  overflow-y:hidden;  
}
form {
  background-color: antiquewhite;
}
.mondai {
  background-color: thistle;
  float: left;
}
.box1 {
  width: 300px;
  height: 100px;
  display:inline-block;
}
.box2 {
  width: 300px;
  height: 100px;
  display:inline-block;
}
input{
  border:0;
}